*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#logo{
    width: 55px;
    height: 55px;
    border-radius: 50px;
}
.background{
    background:rgba(0, 0, 0, 0.7)url('../img/backpart.jpg');
    background-blend-mode: darken;
}
.navbar{
    display: flex;
    align-items: center;
    opacity: 2.0;
    position: sticky;
    top: 0px;
    /* justify-content: space-between; */
}

.nav-list{
    display: flex;
    width: 50%;
}

.nav-list li{
    list-style: none;
    padding: 15px;
    margin: 5px;
    font-size: 1.1rem;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}

.nav-list li a:hover{
    color: rgb(238, 204, 204);
}

.right-navlist{
    width: 50%;
    text-align: right;
    margin: 0px;
    margin-right: 10px;
    padding: 10px;
}

#search{
    padding: 6px;
    border-radius: 8px;
    border-width: 0;
    border-color:3px solid black;
    margin: 0px 10px;
}

#btn-search{
    padding: 10px;
    color: black;
    background-color: white;
    border-radius: 15px;
    border-width: 0;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstPart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainbox{
    display: block;
    /* flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    margin: auto;
    height: 85%;
}

.secondhalf img{
    width: 200px;
    height: 200px;
    border-radius: 400px;
}

.firsthalf{
    color: white;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
}

#big-size{
    text-align: center;
    font-size: 4rem;
}

#small-size{
    text-align: center;
    font-size: 1.2rem;
}

.firsthalf .btns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.firsthalf button{
    padding: 10px;
    background: none;
    border-radius: 20px;
    border: 4px solid white;
    color: white;
    margin: 5px 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.firsthalf button:hover{
   cursor: pointer;
   background-color: rgb(155, 137, 137);
}

.secondhalf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    padding: 40px;
}

 /* section secondPart */

.physics{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 20px;
}

.physics img{
    width: 200px;
    height: 200px;
    border-radius: 400px;
    padding: 20px;
}

.physics div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.physics div button{
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    color: coral;
    background: beige;
    border: 4px solid black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px auto;
}

.physics div button:hover{
    cursor: pointer;
    background: none;
}

.maths{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 20px;
}

.maths img{
    width: 200px;
    height: 200px;
    border-radius: 400px;
    padding: 20px;
}

.maths div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maths div button{
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    color: coral;
    background: beige;
    border: 4px solid black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px auto;
}

.maths div button:hover{
    cursor: pointer;
    background: none;
}

.chemistry{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
    align-items: center;
    padding: 20px;
}

.chemistry img{
    width: 200px;
    height: 200px;
    border-radius: 400px;
    padding: 20px;
}

.chemistry div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chemistry div button{
    width: 30%;
    padding: 5px;
    border-radius: 10px;
    color: coral;
    background: beige;
    border: 4px solid black;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 10px auto;
}

.chemistry div button:hover{
    cursor: pointer;
    background: none;
}

/* section ThirdPart - Form Part */

.thirdPart{
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    position: relative;
    top: -5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
}

.thirdPart h1{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    text-align: center;
}

.form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    border: 4px solid rgb(255, 174, 0);
}

.form textarea{
    padding: 10px;
    margin: 20px;
    width: 600px;
    height: 200px;
    border-radius: 15px;
    border: 4px solid rgb(255, 174, 0);
}

#submit:hover{
    cursor: pointer;
    background-color: white;
    color: burlywood;
    font-weight: bold;
}

/* Footer */

footer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(48, 44, 44);
    color: white;
    justify-content: center;
    align-items: center;
}

footer p{
    padding-top: 10px;
}

footer h1{
    padding-top: 20px;
}

.sponser{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    align-items: center;
}

.sponser img{
    width: 50px;
    height: 50px;
    padding: 20px 40px;
}

.burger{
   display: none;
}

.line{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 5px;
}

@media (min-width:678px) and (max-width:976px){
    #physics{
        width: 46%;
    }

    #maths{
        width: 42%;
    }

    #chemistry{
        width: 62%;
    }
}

@media (min-width:390px) and (max-width:678px){
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-navlist{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    #search{
        margin-bottom: 10px;
    }
    .form textarea{
        width: 200px;
    }
    .burger{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .navbar{
        background:rgba(0, 0, 0, 0.7)url('../img/backpart.jpg');
        height: 450px;
        transition: all 0.2s ease-out;
    }
    .h-nav{
        height: 50px;
        transition: all 0.2s ease-in;
    }
    .v-nav{
        opacity: 0;
    }
    .firstPart{
        height: 900px;
    }
    .physics p{
        display: none;
    }
    #physics{
        width: 102%;
    }
    .chemistry p{
        display: none;
    }
    #chemistry{
        width: 102%;
    }
    .maths p{
        display: none;
    }
    #maths{
        width: 102%;
    }
}

@media only screen and (max-width:390px){
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .right-navlist{
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    #search{
        margin-bottom: 10px;
    }
    .form textarea{
        width: 200px;
    }
    .burger{
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 10px;
    }
    .navbar{
        background:rgba(0, 0, 0, 0.7)url('../img/backpart.jpg');
        height: 450px;
        transition: all 0.2s ease-out;
    }
    .h-nav{
        height: 50px;
        transition: all 0.2s ease-in;
    }
    .v-nav{
        opacity: 0;
    }
    .firstPart{
        height: 1240px;
    }
    .physics p{
        display: none;
    }
    #physics{
        width: 102%;
    }
    .chemistry p{
        display: none;
    }
    #chemistry{
        width: 102%;
    }
    .maths p{
        display: none;
    }
    #maths{
        width: 102%;
    }

    .physics img {
        width: 147px;
        height: 147px;
        border-radius: 400px;
        padding: 20px;
    }

    .maths img {
        width: 147px;
        height: 147px;
        border-radius: 400px;
        padding: 20px;
    }

    .chemistry img {
        width: 147px;
        height: 147px;
        border-radius: 400px;
        padding: 20px;
    }

    .physics{
        flex-direction: column;
    }
    .maths{
        flex-direction: column;
    }
    .chemistry{
        flex-direction: column;
    }

    .sponser{
        flex-direction: column;
    }
}